{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-7">
        <div class="card shadow-sm p-4">
            <h2 class="mb-4 text-center">Edit Profile</h2>

            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                <h5>User Info</h5>
                {{ u_form.as_p }}

                <hr>

                <h5>Profile Info</h5>
                {{ p_form.as_p }}

                <button type="submit" class="btn btn-success w-100 mt-3">Update Profile</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}